.carousel-container {
    --timing: 3s;
    padding-block: 8px;
    overflow: hidden;
    white-space: nowrap;
}

.carousel-track {
    animation: var(--timing) slide infinite linear;
    width: max-content;
    display: inline-block;
}

.carousel-track:hover {
    animation-play-state: paused;
}

.carousel-card {
    display: inline-block;
    margin-inline: 6px;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}