@import url('satoshi.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .wrapper {
        width: 90%;
        max-width: 1280px;
        margin-inline: auto;
    }
    .activeNav::before {
        content: url('./assets/icons/active-dot.svg');
        margin-right: .5rem;
    }
    .progressBar {
        --progress: 0%;
    }
}